<form class="container">
    <div class="row">
      <label for="inputEmail" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Enter your Email">
    </div>
    <div class="row ">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Enter your Password">
      </div>
      <div class="row ">
        <p>Don't have an account? <a routerLink="register">Register</a></p>
      </div>
    <div class="row mt-3">
      <button class="rounded-pill" type="submit">Login</button>
      
    </div>
  </form>