.container {
    margin: auto;
    width: 50%;
    padding: 20px;
}

.container button {
    background-color: rgba(69, 179, 156, 255);
    border: none;
    color: white;
    width: auto;
    margin: auto;
    height: 30px;
}
