<div class="container" *ngIf="selectedProduct">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img [src]="selectedProduct.thumbnail" [alt]="selectedProduct.title">
            <div class="row mt-3">
                <div class="col-2" *ngFor="let pic of selectedProduct.images; let i = index">
                    <img class="w-100 h-50" [src]="pic">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <h5>{{selectedProduct.title}}</h5>
            <p>{{selectedProduct.description}}</p>
            <ngb-rating style="color: rgba(69, 179, 156, 255);" [(rate)]="selectedProduct.rating" [readonly]="true"
                [max]="5"></ngb-rating> <small> ({{selectedProduct.rating}})</small>
            <hr>
            <h5>Price: {{selectedProduct.price | currency:'USD'}}</h5>
            <hr>
            <div class="rounded-pill w-25 text-light" style="text-align: center;"
                [ngClass]="{'bg-success' : selectedProduct.stock >0 , 'bg-danger' : selectedProduct.stock <=0}">{{
                selectedProduct.stock <= 0 ? 'Out of Stock' : 'In Stock' }}</div>
                    <p>More Information....</p>
                    <button class="btn btn-secondary rounded-pill" (click)="toggleCatDiv()">Category</button>
                    <button class="btn btn-secondary rounded-pill ms-3" (click)="toggleBrdDiv()">Brand</button>
                    <div *ngIf="showCat">
                        {{selectedProduct.category}}
                    </div>

                    <div *ngIf="showBrd">
                        {{selectedProduct.brand}}
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-8 input-group w-25 ">
                            <button class="btn btn-secondary" (click)="decreaseQuantity()">-</button>
                            <input class="form-control " type="number" [(ngModel)]="quantity" min="0">
                            <button class="btn btn-secondary " (click)="increaseQuantity()">+</button>
                        </div>
                        <div class="col-4">
                            <small>Only <small class="text-success">{{selectedProduct.stock}} Items</small>
                                left!</small>
                            <small class="d-block">Don't miss it</small>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6 input-group w-25 ">
                            <button class="btn rounded-pill" style="background-color: rgba(69, 179, 156, 255); color: white;">Buy Now</button>
                        </div>
                        <div class="col-6">
                            <button class="btn rounded-pill" (click)="addToCart(selectedProduct)" style="border: solid 1px rgba(69, 179, 156, 255); color: rgba(69, 179, 156, 255);"><svg xmlns="http://www.w3.org/2000/svg" fill="rgba(69, 179, 156, 255)" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
                                Add to card</button>
                        </div>

                    </div>
            </div>
        </div>
    </div>
    <br>
<app-footer></app-footer>