<form class="container">
  <h4 style="text-align: center;">Please fill the following information</h4>
    <div class="row ">
        <label for="inputName" class="form-label">User Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Enter your Username">
      </div>
    <div class="row ">
      <label for="inputEmail" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Enter your Email">
    </div>
    <div class="row">
      <label for="inputPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Enter your Password">
    </div>
    <div class="row">
      <label for="inputCountry" class="form-label">Country</label>
      <select id="inputCountry" class="form-select">
        <option selected disabled>Choose...</option>
        <option>Egypt</option>
      </select>
    </div>
    <div class="row">
      <label for="inputGovernorate" class="form-label">Governorate</label>
      <select id="inputGovernorate" class="form-select">
        <option selected disabled>Choose...</option>
        <option>Alexandria</option>
        <option>Aswan</option>
        <option>Assiut</option>
        <option>Beheira</option>
        <option>Beni Suef</option>
        <option>Cairo</option>
        <option>Dakahlia</option>
        <option>Damietta</option>
        <option>Fayoum</option>
        <option>Gharbia</option>
        <option>Giza</option>
        <option>Ismailia</option>
        <option>Kafr el-Sheikh</option>
        <option>Matrouh</option>
        <option>Minya</option>
        <option>Menofia</option>
        <option>New Valley</option>
        <option>North Sinai</option>
        <option>Port Said</option>
        <option>Qualyubia</option>
        <option>Qena</option>
        <option>Red Sea</option>
        <option>Al-Sharqia</option>
        <option>Sohag</option>
        <option>South Sinai</option>
        <option>Suez</option>
        <option>Luxor</option>
      </select>
    </div>
    <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="maleGender" value="option1" >
            <label class="form-check-label" for="maleGender">
              Male
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="femaleGender" value="option2">
            <label class="form-check-label" for="femaleGender">
              Female
            </label>
          </div>
        </div>
      </fieldset>
    <div class="row">
      <label for="inputZip" class="form-label">Zip Code</label>
      <input type="text" class="form-control" id="inputZip" placeholder="Enter your Zip Code">
    </div>
    <div class="row">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Remember Me
        </label>
      </div>
    </div>
    <div class="row ">
      <p>Already have an account? <a routerLink="login">Register</a></p>
    </div>
    <div class="row">
      <button class="rounded-pill" type="submit">Register</button>
    </div>
  </form>