<form class="container" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <h4 style="text-align: center;">Please fill the following information</h4>
  <div class="row">
    <label for="inputName" class="form-label">Name</label>
    <input type="text" formControlName="name" class="form-control" id="inputName" placeholder="Enter your Name">
    <div class="form-text text-danger"
      *ngIf="registerForm.controls['name'].touched && registerForm.controls['name'].invalid">
      <p *ngIf="registerForm.controls['name'].errors?.['required']">Please enter your name</p>
    </div>
  </div>
  <div class="row">
    <label for="inputUserName" class="form-label">User Name</label>
    <input type="text" formControlName="username" class="form-control" id="inputUserName"
      placeholder="Enter your Username">
    <div class="form-text text-danger"
      *ngIf="registerForm.controls['username'].touched && registerForm.controls['username'].invalid">
      <p *ngIf="registerForm.controls['username'].errors?.['required']">Please enter your username</p>
      <p *ngIf="registerForm.controls['username'].errors?.['pattern']">Username can not include spaces</p>
    </div>
  </div>

  <div class="row ">
    <label for="inputEmail" class="form-label">Email</label>
    <input type="email" formControlName="email" class="form-control" id="inputEmail" placeholder="Enter your Email">
    <div class="form-text text-danger"
      *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].invalid">
      <p *ngIf="registerForm.controls['email'].errors?.['required']">Please enter your email</p>
      <p *ngIf="registerForm.controls['email'].errors?.['email']">Enter a valid email, sample teba7033@gmail.com</p>
    </div>
  </div>
  <div class="row">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="password" formControlName="password" class="form-control" id="inputPassword"
      placeholder="Enter your Password">
      <div class="form-text text-danger"
      *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].invalid">
      <p *ngIf="registerForm.controls['password'].errors?.['required']">Please enter your password</p>
      <p *ngIf="registerForm.controls['password'].errors?.['pattern']">Password must contain at least one lowercase , one uppercase , at least one digit and special character</p>
      <p *ngIf="registerForm.controls['password'].errors?.['minLength']">Password must be at least 8 letters</p>
   
    </div>
  </div>
  <div class="row ">
    <p>Already have an account? <a routerLink="login">Login</a></p>
  </div>
  <div class="row">
    <button class="rounded-pill" type="submit" [disabled]="registerForm.invalid">Register</button>
  </div>
</form>